html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}
/*Color themes #FFF2E7 #D0CABF #B9B1A8 #DE8642 #4B4D52*/
body {
    background-color: #D0CABF;
    margin: 0 0 80px; /* bottom = footer height */
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1em;
    height: 100%;

}
#wrapper{
    min-height: 100%;
    position: relative;
}
#body{
    padding: 10px;
    padding-bottom: 10px;
    background-color: #FFF2E7;
    width: 50%; 
     
    margin-right: auto;
    margin-left: auto; 
    
}
.about-me-wrapper{
  float: left;
}
.image-wrapper{
  float: left;
}

.module {
    background-image: url("keyboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    overflow: hidden;
}
.module > header {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10px;
  background: inherit;
  background-attachment: fixed;
}
.module > header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;

  background: inherit;
  background-attachment: fixed;
  -webkit-filter: blur(12px);
  filter: blur(12px);
}

.module > header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25)
}
.module > header > h1 {
  margin: 0;
  position: relative;
  z-index: 1;

}
.module > header > h2 {
  margin: 0;
  position: relative;
  z-index: 1;
}

* {
  box-sizing: border-box;
}

header {
    background: #4B4D52;
    padding: 10px;
    text-align: center;
    color: #fdf5c9;
    width: 100%;
    position: relative;
}

footer {
    background: #4B4D52;
    height: 90px;
    text-align: center;
    color: #DE8642;
    width: 100%;
    margin-top: 2px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
    overflow-x: auto;
    overflow-y: auto;
}



h1, h2, h3, h4 {
    text-align: center;
}

h1 {
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
    color: #FFF2E7;
    font-size: 300%;
    margin: 5px;
    text-shadow:2px 2px #4B4D52;
}

h2 {
    top: 0;
    left: 25%;
    width: 50%;
    height: 100%;
    color: #DE8642;
    font-size: 200%;
    text-shadow:2px 2px #4B4D52;
}

h3 {
    color: #DE8642;
    font-size: 100%;
    padding: 0px;
    margin: 0px;
}
h4 {
    color: #DE8642;
    font-size: 100%;
    padding: 0px;
    margin-bottom: 0em;
    margin-top: 1em;
    text-align: left;

}

.col-1{
    float: left;
    width: 33%;
}
.col-2{
    float: left;
    width: 33%;
}
.col-3{
  float: left;
    width: 33%;
}
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.contact-text {
    color: #DE8642;
}
#contact {
    
}


a:link {
    text-decoration: none;
    color: #DE8642;
}

a:visited {
    text-decoration: none;
    color: #DE8642;
}

a:hover {
    text-decoration: underline;
    color: #DE8642;
}

a:active {
    text-decoration: underline;
    color: #DE8642;
}

 p { 
     

 } 

/* Menu specific */

nav {
    border-bottom:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-size: 18px;
}

nav li {
    display:inline;
    border: 2px solid #6b3e26;
    background-color: #6b3e26;
    border-radius: 25px;
    padding: 4px;
    margin: 0 5px;
}

nav a {
    display:inline-block;
    padding:10px;
    text-decoration: none;
    color: white;
}

nav ul {
    margin: 4px 0;
    
}

